"*":
  "atom-beautify":
    js:
      indent_size: 2
    json:
      indent_size: 2
    jsx:
      indent_size: 2
    python:
      beautify_on_save: true
  "autocomplete-python":
    useKite: false
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Monaco"
    fontSize: 12
    showIndentGuide: true
  "file-icons":
    tabPaneIcon: false
  hyperclick:
    darwinTriggerKeys: "ctrlKey"
  "linter-eslint":
    fixOnSave: true
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "one-dark-ui":
    hideDockButtons: true
  "prettier-atom":
    formatOnSaveOptions:
      excludedGlobs: [
        "*.json"
      ]
  welcome:
    showOnStartup: false
".java.source":
  editor:
    tabLength: 4
".shell.source":
  editor:
    tabLength: 4
